
{# Section Content Entry #}
{% set component = component.content[0] %}

<div id="section-component-content-entry-{{ loop.index }}" class="section-component section-component-content-entry">
    <div class="prose max-w-none">
        {{ component.entry }}
    </div>
</div>