{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-heading.twig" as headings %}
{% import "@Elements/_macro-badge.twig" as badges %}
{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}

{% if has_accent or has_title %}
    <!-- Heading -->
    <div class="space-y-4 lg:space-y-8 section-entry">
        {% if has_accent and accent %}
            {{ badges.render_accent_badge({
                title: accent,
                class: 'section-entry__accent ',
                color: 'text-azure-400 [&_.badge-icon]:text-gray-500',
            }) }}
        {% endif %}

        {% if has_title and title %}
            <hgroup class="space-y-3 hgroup section-entry__headings text-balance">
                {{ headings.render_heading(2,{
                    title: title,
                    size: 'fluid-text-4xl xl:fluid-text-5xl leading-10 lg:leading-12 xl:leading-16',
                    color: 'text-gray-800',
                }) }}
            </hgroup>
        {% endif %}
    </div>
{% endif %}