{# call to action #}
{% import "@Elements/_macro-button.twig" as buttons %}

{% if has_ctas and ctas %}
    <div class="py-2 section-component-content-with-image__ctas">
        <ul class="flex flex-col lg:flex-row lg:items-end lg:space-x-3 entry-ctas">
            {% for cta in ctas %}
                <li class="entry-ctas__item">
                    {{ buttons.render_button_link({
                        text: cta.link.title,
                        link: cta.link.url,
                        style: cta.style,
                    }) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}