/* theme editor css */
ul.acf-checkbox-list .hero-choice {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 2rem;
}

.acf-checkbox-list {
    background-color: #c00;
}