<div id="page{{ post.id }}" class="px-6 content-wrapper lg:px-8 inview-container page-{{ post.slug }}">
    <article
        x-data="visibleNavHighlighter('.article-body h2')"
        x-on:scroll.window.throttle.50ms="onScroll()"
        id="{{ post.slug }}"  class="page-{{ post.slug }} page-content">
        {% block page_hero %}
            {% include "/templates/app/layouts/pages/partials/_partial-hero-default.twig" %}
        {% endblock %}

        <section class="page-body article-body inview-content">
            {% block page_content %}
                <p>Page Content</p>
            {% endblock %}
        </section>
    </article>
</div>