{% extends "@Layouts/layout-base.twig" %}



{% block content %}


    {% embed "@Layouts/archives/_embed-archive-with-header.twig" %}
    

        {% block archive_content %}
            {% embed "@Layouts/sections/_embed-section-full.twig" with {
                inview: 'false',
            } %}
                {% block section_content %}

                    {% import "@Elements/_macro-card.twig" as cards %}
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 article-posts">
                        {% for post in posts %}
                            <div id="article-{{ post.id }}" class="artice-posts__item artice-posts__item-{{ loop.index }}">
                                {{ cards.simple_card({
                                    title: post.title,
                                    content: post.excerpt,
                                    image: { src: post.thumbnail.src, alt: post.thumbnail.alt },
                                    badge: '',
                                    button: { 
                                        text: 'Read More', 
                                        style: 'solid', 
                                        href: post.link 
                                    }
                                }) }}
                            </div>
                        {% endfor %}
                    </div>

                {% endblock %}
                
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
