{% extends "@Layouts/base.twig" %}

{% block content %}
	<div class="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, maiores! Expedita rem molestias, fugit quos obcaecati, nihil nobis officia tempore, iste vero eum. Ullam porro deleniti, quidem nesciunt ex deserunt?</p>
        {% for post in posts %}
            {{ post.title }}
        {% endfor %}
        
        {% include 'components/pagination/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div>
{% endblock %}
