
{# Section Content Entry List #}
{% embed "@Layouts/sections/_embed-section-component-helper.twig" with {
    section_id_name: 'section-component-content-entry-list',
    section_class_name: 'section-component-content-entry-list',
} %}

    {% block component_content %}
        {% import "@Elements/_macro-icon.twig" as icons %}
        {% import "@Elements/_macro-heading.twig" as headings %}
        {% import "@Elements/_macro-badge.twig" as badges %}
        {% import "@Elements/_macro-image-object.twig" as images %}
        {% import "@Elements/_macro-button.twig" as buttons %}

        {% set image = component.image %}
        {% set list = component.list %}

        <div class="items-start gap-4 space-y-8 lg:gap-8 xl:gap-12 py-8 lg:py-12 xl:py-16">
            {# Header #}
            {% include 'app/components/content/section_content_entry_list/partials/_partial-section-header.twig' %}

            {# Image #}
            <figure class="section-component-content-entry-list__figure overflow-hidden rounded-lg aspect-16/7 inview-item">
                <img src="{{ get_image(image).src | towebp }}" alt="{{ image.alt }}" class="w-full h-full object-cover">
                <figcaption class="text-center text-sm text-gray-500">
                    {{ figure.caption }}
                </figcaption>
            </figure>

            {# List #}
            {% include 'app/components/content/section_content_entry_list/partials/_partial-section-list.twig' %}
        </div>
    {% endblock %}
    
{% endembed %}