{# Section Call to Action #}
{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-heading.twig" as headings %}
{% import "@Elements/_macro-badge.twig" as badges %}
{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}

{% set component = component.call_to_action[0] %}

{# {% set ctas = component.call_to_actions %} #}

{# field check #}
{% set sections = component.sections %}
{% set has_accent = sections.accent %}
{% set has_title = sections.title %}
{% set has_entry = sections.entry %}
{% set has_ctas = sections.ctas %}

{# fields #}
{% set accent = component.accent %}
{% set title = component.title %}
{% set entry = component.entry %}
{% set ctas = component.ctas %}



<div id="section-component-call_to_action-{{ loop.index }}" class="relative overflow-hidden isolate section-component-call_to_action inview-container {{ is_preview ? 'px-8 py-4'}}">
    <div class="px-10 py-12 border rounded-lg section-component-call_to_action__content">
        
        {% include "@Components/content/section_action_cta/partials/_partial-section-header.twig" %}
        
        <div class="flex justify-between">
            <div class="max-w-3xl inview-item section-component-call_to_action__entry">
                {% embed "@Layouts/prose/_embed-prose-section.twig" %}
                    {% block prose_content %}
                        {{ entry }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="section-component-call_to_action__ctas">
                {% include "@Components/content/section_action_cta/partials/_partial-section-ctas.twig" %}
            </div>
        </div>
        
    </div>
</div>