{# Section Media Video #}
{% set component = component.content[0] %}

<div id="section-component-media-video-{{ loop.index }}" class="section-component section-component-media-video">
    <div class="aspect-w-16 aspect-h-9">
        {{ component.video }}
    </div>
</div>