 <div class="inview-item content_with_icon__content">
    <dt class="flex items-center space-x-8 lg:items-start lg:flex-col lg:space-x-0 content_with_icon__title">
        <div class="flex items-center justify-center size-10">
            {{ icon }}
        </div>
        <p class="font-semibold leading-8 tracking-tight lg:mt-2 fluid-text-lg">{{ item.title }}</p>
    </dt>
    <dd class="pl-[4.25rem] mt-4 text-xl leading-7 lg:text-base lg:pl-0 content_with_icon__entry">
        {{ entry }}
    </dd>
</div>