/* section choice ul.acf-radio-list */

:root {
    --border-color-wordpress-blue: #3b82f6;
    --wordpress-blue: #3b82f6;
}

ul.acf-checkbox-list, ul.acf-radio-list {
    &:focus-within {
        @apply outline-none border-none;
    }
}

/* section choice ul.acf-checklist */
ul.acf-checkbox-list {
    /* @apply !border-0 !space-x-2; */
    li {
        margin-right: 0 !important;
    }

    .check-entry-choice {
        input[type="checkbox"]:checked {
            @apply bg-white border-wordpress-blue/50;
           
        }
        &:has(input[type="checkbox"]:checked) {
            @apply bg-wordpress-blue/5 border-wordpress-blue;
            strong {
                @apply text-wordpress-blue;
            }
        }

        
    }
}

.section-choice {
    @apply flex flex-col items-center px-4 py-2 space-y-2 border rounded border-gray-300 min-w-20;
    &:has(input[type="checkbox"]:checked) {
        @apply bg-blue-50/50 border-blue-600;
        span {
            @apply text-blue-500;
        }
    }

    .form-switch {
        @apply relative h-4 w-8 flex-none rounded-full bg-gray-300 transition-all duration-150 ease-out ring ring-offset-1 ring-gray-200 before:absolute before:left-0 before:top-0 before:size-4 before:rounded-full before:bg-white before:transition-transform before:duration-150 before:ease-out before:content-[''];
    }

    input[type="checkbox"] {
        @apply sr-only; /* hide the checkbox */
    }

    input:checked + .form-switch {
        @apply flex items-center space-x-2 cursor-pointer bg-blue-500 ring ring-blue-500/50 ring-offset-2 ring-offset-white before:translate-x-full;
    }

    
}

.component-section-options {
    
    .acf-input:first-child {
        @apply ml-3 space-x-2;
    }
    .acf-input {
        .acf-fields > .acf-field:first-child {
            border-top: inherit;
        }
        .acf-fields {
            [data-type="true_false"]  {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.25rem;
                border: 1px solid #d1d5db;
                border-radius: 0.375rem;
                min-width: 5rem;
                padding: 0.375rem 0.625rem;
                &:has(input[type="checkbox"]:checked) {
                    background-color: rgba(59, 130, 246, 0.05);
                    border-color: var(--wordpress-blue);
                    label:first-child {
                        @apply text-wordpress-blue;
                    }
                }

                .acf-label  {
                    @apply mb-0;
                    label {
                        @apply !text-sm !font-medium text-gray-700;
                    }
                }
                
            }
        }
    }
}

.acf-radio-list {
    @apply divide-x divide-wordpress-blue/30;
    :focus {
        @apply outline-none border-wordpress-blue/50;
    }
    .acf-hl {
        display: flex;
        align-items: center;
        gap: 0;
        outline: none;
        &:focus-within {
            outline: none;
        }
    }
    input[type="radio"] {
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
    }
    li {
        border-top: 1px solid rgba(0, 115, 170, 0.3);
        border-bottom: 1px solid rgba(0, 115, 170, 0.3);
        margin: 0 !important;
        text-align: center;
        position: relative;
        &:first-child {
            border-left: 1px solid rgba(0, 115, 170, 0.3);
            border-top-left-radius: 0.375rem;
            border-bottom-left-radius: 0.375rem;
        }
        &:last-child {
            border-right: 1px solid rgba(0, 115, 170, 0.3);
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
        span {
            display: block;
            padding: 1.25rem 1rem;
            font-size: 0.875rem;
            font-weight: 500;
            color: #3b82f6;
            cursor: pointer;
        }
        &:has(input[type="radio"]:checked) {
            background-color: rgba(0, 115, 170, 0.1);
            span {
                color: #3b82f6;
            }
        }
    } 
}

