<div class="prose-sm prose lg:fluid-prose-base {{ class }}">
    {% block prose_content %}
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni vel neque iure iste, repellendus beatae itaque adipisci officia. Saepe nisi neque porro velit aut minus fugit sunt voluptate mollitia tempore?
    {% endblock %}
</div>