{# Team Member Bio #}
{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-heading.twig" as headings %}
{% import "@Elements/_macro-badge.twig" as badges %}
{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}

<div class="grid grid-cols-2 gap-8 lg:items-centper member-bio">
    <div class="member-bio__entry">
        <div class="space-y-8">
            <div class="space-y-3 member-bio__title">
                {{ headings.render_heading_three({
                    title: title,
                    size: 'fluid-text-2xl',
                    color: 'dark:text-white',
                }) }}
                <p class="text-base leading-7 text-blue-500 dark:text-gray-400">{{ position }}</p>
            </div>

            <div class="prose entry member-bio__bio dark:prose-invert">
                {{ bio }}
            </div>
        </div>
    </div>
    <div class="relative member-bio__featured">
        <div class="absolute rounded-md -inset-2 bg-wood-smoke-600/30 blur-lg lg:block"></div>
        <figure class="aspect-1/1 rounded-lg overflow-hidden relative">
            {{ images.render_image({
                src: profile.url ?: theme.link ~ '/public/icons/icon-temp-image.svg',
                alt: member.image.alt,
                class: 'w-full h-full',
            })}}
        </figure>
    </div>
</div>